/* header */
header .container .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container .parent::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    opacity: 50%;
}

header .container .parent p {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    font-family: "Story Script", sans-serif;
}

header .container .parent img {
    width: 100px;
    padding: 10px 0;
}

header .container .parent ul {
    display: flex;
    justify-content: space-between;
}

header .container .parent li {
    list-style: none;
    padding: 0 15px;

}

header .container .parent a {
    color: #fff;
    font-weight: 600;
    display: block;
    text-decoration: none;
    font-size: 20px;

}

header .container .parent a:hover {
    color: var(--main-color);
}

header .container .parent .menu-icon {

    display: none;
}

@media (max-width: 600px) {
    header .container .parent ul {
        position: absolute;
        flex-direction: column;
        top: 110px;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0;
        gap: 0;
        overflow: hidden;
        margin: 0;
        /* background-color: var(--backgroun-co); */
    }

    header .container .parent ul a {
        padding: 15px 0;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-weight: 600;
        display: block;
        text-decoration: none;
        font-size: 15px;

    }

    header .container .parent ul li {
        padding: 0;
    }

    header .container .parent .menu-icon {
        display: block;

    }

    header .container .parent .menu-icon i {
        font-size: 40px;
        color: #fff;
    }

    #menuList {
        transition: all .5s;
    }

}

/* End Header  */
/* Start Landing  */
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100vh - 114.24px);
    overflow: hidden;
}

.landing .imgs img {
    width: 600px;
    position: relative;
    animation: la-img 5s infinite linear;
    -webkit-animation: la-img 5s infinite linear;
}

.landing .container .parent {
    display: flex;
    align-items: center;

}

@keyframes la-img {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}


.landing .parent .content {
    display: flex;
    flex-direction: column;
}

.landing .container .parent .content h1 {
    font-size: 40px;
    width: 100%;
    color: #fff;
    margin: 0 0 10px;
}

.landing .container .parent .content a {
    font-size: 22px;
    
width: 50%;
}

.landing .container .parent .content h2 {
    width: 100%;
    color: var(--main-color);
    font-size: 20px;
    font-size: 30px;
    margin: 0 0 15px;
}

.landing .container .parent .content p {
    color: var(--text-co);
    margin: 0 0 30px;
    font-size: 15px;
}

/* @media (max-width: 600px) {
    .landing .container .parent {
        margin: auto;
        width: 50%;
        text-align: center;
    }
} */
@media (max-width: 991.98px) {
    .landing .parent .imgs {
        display: none; 
    }
    
    .landing .parent {
        justify-content: center; 
        text-align: center;      
    }

    .landing .parent .content {
        width: 100%;
        text-align: center; 
    }
    .landing .parent .content a {
        margin: auto;
    }
}
@media (max-width: 800px) {
    .landing .container .parent h1 {
        font-size: 30px;

        width: 100%;
        color: #fff;
        margin: 0 0 10px;

    }

    .landing .container .parent h2 {
        width: 100%;
        color: var(--main-color);
        font-size: 20px;
        margin: 0 0 15px;
    }

    .landing .container .parent p {
        color: var(--text-co);
        margin: 0 0 30px;
        font-size: 7px;
    }

}

/* End Landing  */
/* Start About  */



.about .container .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.about .container .parent img {
    height: 500px;
    width: 500px;
}

.about .container .parent p {
    color: var(--text-co);
    font-size: 30px;
    padding: 130px 0;
    margin: 0;
}


@media (max-width: 992px) {
    .about .container h1 {
        font-size: 90px;
    }

    .about .container .parent p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .about .container h1 {
        font-size: 70px;
    }

    .about .container .parent p {
        font-size: 15px;
        padding: 0 10px;
    }

    .about .container .parent img {
        height: 350px;
        width: 350px;
    }
}

/* End About  */
/* Start Service  */
.service {
    padding: 0 0 100px;
}

.service .container .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: stretch;
}

.service .container .parent .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}

.service .container .parent .card img {
    width: 80px;
    height: auto;
    max-width: 100%;
}

.service .container .parent .card h3 {
    color: var(--text-co);
    margin: 0;
    padding: 10px 0;
    font-size: 20px;

}

.service .container .parent .card p {
    color: var(--text-co);
    text-align: center;
    margin: 0;
    padding: 0 0 20px;

}


@media (max-width: 992px) {
    .service .container .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    .service .container .parent .card img {
        width: 80px;
        height: 80px;
    }

    .service .container .parent .card h3 {
        font-size: 20px;
    }

    .service .container .parent .card p {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .service .container .parent {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
    }
}



/* End Service  */
.stats {
    position: relative;
    background-image: url("./imgs/stats.jpg");
    background-size: cover;
    min-height: 300px;
    padding-bottom: 100px;
}

.stats::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#stats {
    padding-bottom: 100px;
}

@media (max-width: 600px) {
    #stats {
        padding-bottom: 60px;
        font-size: 40px;
    }
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    opacity: .8;
    border-radius: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.stats .box:hover {
    opacity: 1;
}

.stats .box::before,
.stats .box::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.stats .box::before {
    top: 0;
    right: 0;
}

.stats .box::after {
    bottom: 0;
    left: 0;
}

.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}

.stats .box i {
    font-weight: 900;
}

.stats .box span {
    display: block;
}

.stats .box .number {
    margin: 10px 0;
    font-size: 60px;
    font-weight: bold;
}

.stats .box .text {
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
    font-style: italic;
}

/* ========== end stats ========== */

.footer {
    padding-bottom: calc(var(--section-padding) / 2);
    padding-top: calc(var(--section-padding) / 2);
    background-image: url("../imgs/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
    height: 100%;
}

.footer::before {
    content: '';
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.footer .container {
    position: relative;
}

.footer .logo {
    margin-bottom: 20px;
}

.footer p:not(.copyright) {
    padding: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin: 10px auto;
    font-size: 22px;
}

.footer p.copyright {
    margin: 0;
    padding-top: 50px;
    font-size: 18px;
}

.footer p.copyright span {
    font-weight: bold;
    color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.footer .links li {
    margin: 0 10px;
}

.footer .links li a {
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: .5s ease;
}

.footer .links li a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
}

.footer .links li .instgram:hover {
    background-image: linear-gradient(45deg,
            #12c2e9, #c471ed, #f64f59);

}

.footer .links li a:hover {
    background-image: linear-gradient(45deg,
            #2A7B9B, #57C785, #EDDD53);
}

.footer .links li a::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: linear-gradient(45deg,
            #12c2e9, #c471ed, #f64f59);
    transform: scale(1);
    transition: .5s ease-in-out;
}

.footer .links li a:hover::before {
    transform: scale(0);
}

/* ========== end footer ========== */
.refresh-animation .parent>* {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}


.refresh-animation .parent.show>* {
    opacity: 1;
    transform: translateY(0);
}


.refresh-animation .parent.show h1 {
    transition-delay: 0.2s;
}

.refresh-animation .parent.show h2 {
    transition-delay: 0.4s;
}

.refresh-animation .parent.show p {
    transition-delay: 0.6s;
}

.refresh-animation .parent.show a {
    transition-delay: 0.8s;
}