body {
    background-color: #0a0a0a;
    width: 100vw;
    width: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    align-content: stretch;
    font-size: 140px;
}

p {
    color: #0066ff;
}

p span {
    color: #fff;
}